bottleneck==1.3.6
astroalign==2.4.2
astropy==5.2.1
dtcwt==0.12.0
numpy==1.24.2
opencv-python-headless==4.7.0.72
PyQt5==5.15.9
pywi==0.3.dev12
qimage2ndarray==1.10.0
rawpy==0.18.0
watchdog==2.3.0
pylint==2.16.2
Sphinx==6.1.3
pytest==7.2.1
pytest-cov==4.0.0
coverage==7.2.1
numba==0.56.4
sphinx-rtd-theme==1.2.0
psutil==5.9.4
PyInstaller==5.8.0
qrcode==7.4.2
# transitive dependency pinning
llvmlite==0.32.1
scipy==1.4.1
matplotlib==3.2.1
Pillow==7.1.2
pandas==1.0.4
importlib_metadata==1.6.1
more_itertools==8.3.0
networkx==2.4
attrs==19.3.0
certifi==2020.4.5.2
idna==2.9
imageio==2.8.0
py==1.8.1
Pygments==2.6.1
PyQt5_sip==12.8.0
requests==2.23.0
urllib3==1.25.9
wcwidth==0.2.4
kiwisolver==1.3.1