astroalign==1.0.4
astropy==4.0.1.post1
dtcwt==0.12.0
numpy==1.16.4
opencv-python-headless==4.1.0.25
PyQt5==5.13.0
pywi==0.3.dev12
qimage2ndarray==1.8
rawpy==0.13.1
watchdog==0.9.0
pylint==2.3.1
Sphinx==2.2.0
pytest==5.1.2
pytest-cov==2.7.1
coverage==4.5.4
numba==0.45.1
sphinx-rtd-theme==0.4.3
psutil==5.6.6
PyInstaller==3.6
scikit-image==0.16.2
# transitive dependency pinning
llvmlite==0.32.1
scipy==1.4.1
matplotlib==3.2.1
Pillow==7.1.2
pandas==1.0.4
importlib_metadata==1.6.1
more_itertools==8.3.0
networkx==2.4
attrs==19.3.0
certifi==2020.4.5.2
idna==2.9
imageio==2.8.0
py==1.8.1
Pygments==2.6.1
PyQt5_sip==12.8.0
requests==2.23.0
urllib3==1.26.5
wcwidth==0.2.4