* {
    background-color: #222222;
    color: #CC0000;
}

QPushButton:disabled {

    color: #444444
}

QScrollBar:handle, QScrollBar::add-line, QScrollBar::sub-line {

    border: 1px solid #444444
}

QMenu::item:selected {

    border: 2px solid #444444
}

QMenu::item {

    border: 2px solid transparent;
    padding: 2px
}

