.wy-nav-content {
    max-width: 100% !important;
    background: #1c1c1c;
}

.btn-neutral {
	background-color: #222 !important;
	color: #cacaca !important;
}

.btn-neutral:visited {
	color: #cacaca !important;
}

.wy-side-nav-search {
	background-color: #1C1C1C;
}

.wy-side-nav-search > a img.logo, .wy-side-nav-search .wy-dropdown > a img.logo {
	max-width: 45%;
}

.wy-nav-side {
	background: #1c1c1c;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current > a {
	color: #cacaca;
	background: #444;
}

.card-body {
	background: #222;
}

.wy-menu-vertical li.toctree-l2.current > a {
	background: #808080;
}

.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.toctree-l4 a {
	color: #cacaca;
	background: #555;
}

.wy-menu-vertical li.current a {
	border-right: none;

}

.wy-side-nav-search input[type="text"] {
	border: none;
	background: #AAA;
}

.wy-body-for-nav {
	background: #1c1c1c;
}


.wy-menu-vertical li.toctree-l1.current > a {
	border-bottom: none;
	border-top: none;
}

body {
	color: #cacaca;
}

.wy-alert.wy-alert-info, .rst-content .note, .rst-content .wy-alert-info.attention, .rst-content .wy-alert-info.caution, .rst-content .wy-alert-info.danger, .rst-content .wy-alert-info.error, .rst-content .wy-alert-info.hint, .rst-content .wy-alert-info.important, .rst-content .wy-alert-info.tip, .rst-content .wy-alert-info.warning, .rst-content .seealso, .rst-content .wy-alert-info.admonition-todo, .rst-content .wy-alert-info.admonition {
	color: #cacaca;
	background: #274051;
}

div.als-left {
  width: 50%;
  padding: 0 3px 0 0;
  float: left;
}

div.als-left-narrow {
  width: 25%;
  padding: 0 3px 0 0;
  float: left;
}

div.als-left-wide {
  width: 75%;
  padding: 0 3px 0 0;
  float: left;
}

div.als-right {
  margin-left: 50%;
  max-width: fit-content;
}

div.als-right-narrow {
  margin-left: 75%;
  max-width: fit-content;
}

div.als-right-wide {
  margin-left: 25%;
  max-width: fit-content;
}

div.als-twocol{
	max-width: inherit;
	height: fit-content;
	overflow: hidden;
}